/* .accordion-button::after {
  transform: none !important;
  transition: none !important;
  display: none;
} */

.accordion-button::after {
  width: 16px;
  height: 16px;
  margin-left: auto;
  content: "";
  background-image: url("/bs_accordion/plus.png") !important;
  background-repeat: no-repeat;
  background-size: 16px;
  transition: 0.2s ease-in-out;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("/bs_accordion/minus.png") !important;
}
